body {
    font-size: 100%;
    p {
        background: red;
        display:block;
        text-transform: none;
        display: none;
    }
}
.fuckingsawesome{
	display: block;
	width:100px;
	height:300px;
}